.heroSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 70px 20px;
  text-align: center;
}

.heroSection img {
  width: 550px;
  height: auto;
  margin-bottom: 20px;
  transition: transform 0.3s ease, filter 0.3s ease;
  filter: brightness(0) invert(1);
}

.heroSection img:hover {
  transform: scale(1.05);
  filter: drop-shadow(0 0 10px rgb(255, 255, 255));
  filter: brightness(0) invert(1);
}